.App {
    margin: 3rem;
    text-align: center;
}

#input-field {
    font-size: 1rem;
    margin-top: 2rem;
}

.todo-item {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    background-color: rgba(124, 124, 124, 0.767);
    padding: 0.5rem;
    margin: 1rem auto;
    width: 80%;
    max-width: 450px;
    border-radius: 1rem;
}

.Buttons {
    display: flex;
    padding: 3rem;
    justify-content: space-around;
}

.Buttons > button {
    font-size: 14px;
    margin: 0.5rem;
    width: 10rem;
}